<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>com.example.javaeetest.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/firstservlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>firstJSP</servlet-name>
        <jsp-file>/firstJSP.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>firstJSP</servlet-name>
        <url-pattern>/firstjsp</url-pattern>
    </servlet-mapping>

<!-- Cookies -->
    <servlet>
        <servlet-name>SetCookiesServlet</servlet-name>
        <servlet-class>cookies.SetCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetCookiesServlet</servlet-name>
        <url-pattern>/set-cookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCookiesServlet</servlet-name>
        <servlet-class>cookies.GetCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCookiesServlet</servlet-name>
        <url-pattern>/get-cookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <servlet-class>cookies.DeleteCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <url-pattern>/delete-cookies</url-pattern>
    </servlet-mapping>
</web-app>